<!DOCTYPE html>
<html>
  
  <head>
    <%- include('../partials/head.ejs') %>  
  </head>

  <header>
      <%- include('../partials/header.ejs') %>
  </header>
  
  <body>

    <br>
    <h1>ADMINISTRADOR DE PRODUCTOS</h1>
    
    <div class="accesoCrear">
      <button>
        <a href="/administrar/crear"><i class="fa-solid fa-circle-plus"></i> CREAR PRODUCTO</a>
      </button>
    </div>

    <table class="tablaAdministrar">
        <tr>
          <th style="width:50px">ID</th>
          <th style="width:200px">BANNER</th>
          <th style="width:300px">NOMBRE</th>
          <th style="width:400px">PRECIO</th>
          <th style="width:120px">EDITAR</th>
          <th style="width:120px;">ELIMINAR</th>
        </tr>
        <% paquetes.forEach(paquete => { %>
          <tr>
            <td style="text-align:center;padding-left:0"><%= paquete.id %></td>
            <td style="text-align:center;padding-left:0"><img src="/images/paquetes/<%= paquete.Banner %>"></td>
            <td><%= paquete.Nombre %></td>
            <td><%= paquete.Precio %></td>
            <td style="text-align:center;padding-left:0"><a href="/administrar/editar/<%= paquete.id %>"><i class="fa-solid fa-pen-to-square"></i></a></td>
            <td style="text-align:center;padding-left:0">
              <form action="/administrar/eliminar/<%= paquete.id %>?_method=DELETE" method="POST">
                <button type="submit"><i class="fa-solid fa-trash"></i></button>
              </form>
            </td>
          </tr>
        <% }) %>
      </table>

      <br><br>

      <div class="tarjetaProductoListado">
        <% paquetes.forEach(paquete => { %>
        <div class="tarjetaProducto">
          <p style="text-align:center;padding-left:0"><img src="/images/paquetes/<%= paquete.Banner %>"></p>
          <p><strong>ID:</strong> <%= paquete.id %></p>
          <p><strong>NOMBRE:</strong> <%= paquete.nombre %></p>
          <p><strong>PRECIO:</strong> <%= paquete.precio %></p>
          <div class="botonesAdministrar">
            <div><a href="/administrar/editar/<%= paquete.id %>"><button>EDITAR</button></a></div>
            <div>
              <form action="/administrar/eliminar/<%= paquete.id %>?_method=DELETE" method="POST">
                <button type="submit">ELIMINAR</button>
              </form>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    
      <br><br>

  </body>
  
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

</html>