<!DOCTYPE html>
<html>
  
    <head>
        <%- include('../partials/head.ejs') %>  
    </head>

    <header>
        <%- include('../partials/header.ejs') %>
    </header>
  
    <body>

        <br>
        <h1>CREAR PRODUCTO</h1>

        <form action="/administrar/crear" method="POST" enctype="multipart/form-data">

            <div class="formularioCreacionProducto">
                <input type="text" placeholder="NOMBRE" name="Nombre" required>
                <input type="text" placeholder="DIAS" name="Dias" required>
                <input type="text" placeholder="FECHA" name="Fecha" required>
                <input type="text" placeholder="TRASLADOS" name="Traslados" required>
                <input type="text" placeholder="HOSPEDAJE" name="Hospedaje" required>
                <input type="text" placeholder="REGIMEN" name="Regimen" required>
                <input type="text" placeholder="PRECIO" name="Precio" required>
                <input type="text" placeholder="PRECIO RESERVA" name="Precio_Reserva" required>
                <input type="text" placeholder="DETALLES" name="Detalles" required>
                <select name="Categoria" id="">
                    <option value="">Elegí una categoria</option>
                        <%  
                            let Categorias = ['micros', 'aereos'];
                        %>
                        <% for (const unaCategoria of Categorias) { %>
                            <option 
                            value="<%= unaCategoria %>"
                                <%= locals.oldData && (unaCategoria === oldData.Categoria) ? 'selected' : null %>> 
                                <%= unaCategoria %> 
                            </option>
                        <% } %>
                </select>
                <input type="file" placeholder="BANNER" name="Banner" required>
            </div>

            <div class="botonCrear">
                <button class="loginButton" type="submit">SUBIR PRODUCTO</button>
            </div>
        </form>
        
        <div class="botonCrear">
            <a href="/administrar/productsList"><button class="loginButton">VOLVER</button></a>
        </div>
    
        <br>
        <br>
                
    </body>
  
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</html>

